<div class="slot-container" (click)="slotClicked.emit()">

  @if (player().type === 'jugador') {
    <app-player-card
      [hasVoted]="player().hasVoted"
      [isRevealed]="isRevealed()"
      [value]="player().voteValue">
    </app-player-card>
  }

  @if (player().type === 'espectador') {
    <app-spectator-badge [initials]="player().initials"></app-spectator-badge>
  }

  <span class="player-name">
    {{ player().name }}
    @if (player().isAdmin) {
      <span class="admin-crown" title="Administrador">(ADMIN)</span>
    }
  </span>
</div>
