.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px 48px;
  gap: 16px;

  .header-title {
    font-size: 20px;
    font-weight: 600;
  }

  .logo-img {
    width: 60px;
    height: 60px;
  }
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}
